@model AssistMeProject.Models.Comment

<ul class="children">
    <li class="comment">
        <div class="comment-body clearfix">
            <div class="avatar">
                <a href="#" original-title="admin" class="tooltip-n"><img alt="" src="@Model.User.PHOTO"></a>
            </div>
            <div class="comment-text">
                <div class="author clearfix">
                    <div class="comment-author"><a href="#">@Html.DisplayFor(c=>c.User.USERNAME)</a></div>
                    <div class="comment-meta">
                        <div class="date"><i class="icon-time"></i>@Html.DisplayFor(m => m.Date)</div>
                    </div>
                </div>
                <div class="text">
                    <p>@Html.DisplayFor(m => m.Description)</p>
                    <p>Comment in: @Html.DisplayFor(m => m.Answer.Description)</p>
                </div>
            </div>
        </div>
    </li>
</ul>
