@model AssistMeProject.Models.Answer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Answer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>



<div id="commentlist">
    


</div>
<div>
    <a asp-controller="Comments" asp-action="Create" asp-route-AnswerId="@Model.Id">Agregar Comentario</a>
    <!--|
    <a asp-action="Index">Back to List</a> -->
</div>

@section scripts{ 

    <script>
        $(function () {
            $.ajax({
                url: "@Url.Content("~/Comments/CommentList?AnswerId="+Model.Id)"
            }).done(function (data) {
                $('#commentlist').html(data);
            }).fail(function () {
                alert("error");
            });
        }
        );
    </script>
}