@model AssistMeProject.Models.User;
@{
    ViewData["Title"] = "User Profile";
    ViewData["ViewingUser"] = "asd";
   

    if (Model == null)
    {
        <meta http-equiv="Refresh" content="0 ; url=/Users?message=Inicie Sesión">
    }
}
<style type="text/css">
    .breadcrumbs {
        display: none;
    }
    .user-profile {
        padding-top: 1%;
    }
</style>
<div class="breadcrumbs">
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@ViewData["Title"]</h1>
            </div>
        </div><!-- End row -->
    </section><!-- End container -->
</div><!-- End breadcrumbs -->
<section class="container main-content">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="user-profile">
                    <div class="col-md-12">
                        <div class="page-content">
                            <h2>
                                Acerca del Usuario
                                @{
                                    if (Model != null)
                                    {
                                        <span>: </span> @Model.USERNAME;
                                    }
                                }
                            </h2>
                            <div class="user-profile-img"><img width="60" height="60" src="http://placehold.it/60x60/FFF/444" alt="admin"></div>
                            <div class="ul_list ul_list-icon-ok about-user">
                                <ul>
                                    @{
                                        if (Model != null && ViewData["ViewingUser"].ToString().Equals(Model.USERNAME.ToString()))
                                        {
                                            <li><i class="icon-tag"></i><span><b>ID:</b> @Model.ID</span></li>
                                            <li><i class="social_icon-email"></i><span><b>Correo:</b> @Model.EMAIL</span></li>
                                        }
                                        ViewData["CITY"] = "";
                                        ViewData["COUNTRY"] = "";
                                        if (Model != null)
                                        {
                                            ViewData["CITY"] = Model.CITY;
                                            ViewData["COUNTRY"] = Model.COUNTRY;
                                        }
                                        <li><i class="icon-map-marker"></i><span><b>Ubicación:</b>@ViewData["COUNTRY"] , @ViewData["CITY"]</span></li>
                                    }
                                </ul>
                            </div>
                            <br /><br /><br />
                            @{
                                ViewData["DESC"] = "";
                                ViewData["INTS"] = "";
                                if (Model != null)
                                {
                                    ViewData["DESC"] = Model.DESCRIPTION;
                                    ViewData["INTS"] = Model.INTERESTS_OR_KNOWLEDGE;
                                }
                                <b>Descripción : </b><span>@ViewData["DESC"]</span><br /><br />
                                <b>Intereses o Conocimientos : </b><span>@ViewData["INTS"]</span>
                            }
                            <div class="user-profile-widget">
                                <h2></h2>
                                <div class="ul_list ul_list-icon-ok">
                                    <ul>
                                        @{
                                            ViewData["QUEST_ASK"] = "";
                                            ViewData["QUEST_ANS"] = "";
                                            if (Model != null)
                                            {
                                                ViewData["QUEST_ASK"] = Model.QUESTIONS_ASKED;
                                                ViewData["QUEST_ANS"] = Model.QUESTIONS_ANSWERED;
                                            }
                                            <li><i class="icon-question-sign"></i><a href="user_questions.html">Preguntas<span> ( <span>@ViewData["QUEST_ASK"]</span> ) </span></a></li>
                                            <li><i class="icon-comment"></i><a href="user_answers.html">Respuestas<span> ( <span>@ViewData["QUEST_ANS"]</span> ) </span></a></li>
                                        }
                                    </ul>
                                </div>
                            </div><!-- End user-profile-widget -->
                        </div><!-- End page-content -->
                    </div><!-- End col-md-12 -->
                </div><!-- End user-profile -->
            </div><!-- End row -->
        </div><!-- End main -->
    </div><!-- End row -->
</section><!-- End container -->
