@model AssistMeProject.Models.Question
<!-- ViewData["IsQuestionMin"]=bool -->
<article class="question question-type-normal @Html.DisplayName(((bool)ViewData["IsQuestionMin"])?"":"single-question")">
    <h2>
        <a asp-action="Details" asp-route-id="@Model.Id"> @Html.DisplayFor(modelItem => Model.Title)</a>
    </h2>
    <a class="question-report" href="#">Report</a>
    <div class="question-type-main"><i class="icon-question-sign"></i>Question</div>
    @if ((bool)ViewData["IsQuestionMin"]) {
        <div class="question-author">
            <a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" src="http://placehold.it/60x60/FFF/444"></a>
        </div>
    }

    <div class="question-inner">
        <div class="clearfix"></div>
        <p class="question-desc">@Html.DisplayFor(modelItem => Model.Description)</p>

        @if ((bool)ViewData["IsQuestionMin"])
        {
            <span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>
        }
        <span class="question-favorite"><i class="@Html.DisplayName(true?"icon-star":"icon-star-empty")"></i>5</span>
        @if (true)
        {
            <span class="question-category"><a href="#"><i class="icon-folder-close"></i>wordpress</a></span>
        }
        <span class="question-date"><i class="icon-time"></i>@Html.DisplayFor(modelItem => Model.Date)</span>
        <span class="question-view"><i class="icon-user"></i>70 views</span>
        <span class="question-comment"><a asp-action="Details" asp-route-id="@Model.Id"><i class="icon-comment"></i>@Html.DisplayFor(model => model.Answers.Count) Answer</a></span>
        <span class="question-vote"><a href="#"><i class="@Html.DisplayName(true?"icon-thumbs-up":"icon-thumbs-up")"></i> +22</a></span>
		<span class="icon-spinner"> <a asp-action="UpdateDate" asp-route-id="@Model.Id"> <i class="icon.spinner"></i> Ask Again</a></span>
	
        <div class="clearfix"></div>
    </div>
</article>
