@model AssistMeProject.Models.Question

@{
    ViewData["Title"] = "Details";
    ViewData["IsQuestionMin"] = true;

}








<!-- omitido breadcrumbs del template agregar luego...-->
<section class="container main-content">
    <div class="row">
        <p>

        </p>
        <p>

        </p>
        <div class="col-md-9">

            <Partial name="_QuestionPartial" model="Model" view-data="ViewData" />
            <p>
                <div class="page-content clearfix">
                    <h3>Attached files</h3>
                    @{
                        foreach (var f in ViewBag.FileNames)
                        {
                            <a href='~/uploads/@(Model.Id+"/"+f)' download="@f"><i class="icon-paper-clip"></i>@(" " + f)</a><br />
                        }
                    }

                </div>
            </p>
          

            <div class="share-tags page-content">
                <div class="author-bio">
                    <h4>Pregunta hecha por: "@Model.User.USERNAME"</h4>
                </div>

                <div class="question-tags">
                    <i class="icon-tags"></i>
                    @{
                        foreach (QuestionLabel ql in Model.QuestionLabels)
                        {
                            string text = ql.Label.Tag;
                            if (Model.QuestionLabels.Last() != ql)
                            {
                                text += ", ";
                            }
                            <a href="#">@text</a>
                        }
                    }

                </div>
                <p></p>
                <p></p>
            </div><!-- End share-tags -->

   
            <p>

            </p>

            <p>

            </p>

            <div id="related-posts">
                <h2>Opciones avanzadas</h2>
                <p></p>
                <p></p>
                <a id="but2" asp-action="Desarchivar" asp-route-id="@Model.Id" type="button"><span class="icons-folder-smart"></span> Desarchivar pregunta </a>
            </div><!-- End related-posts -->

            <div class="post-next-prev clearfix">
                <p class="prev-post">
                    <a href="#"><i class="icon-double-angle-left"></i>&nbsp;Prev question</a>
                </p>
                <p class="next-post">
                    <a href="#">Next question&nbsp;<i class="icon-double-angle-right"></i></a>
                </p>

            </div><!-- End post-next-prev -->


        </div><!-- End main -->


    </div><!-- End row -->

</section><!-- End container -->



@section scripts{

    <script>


        $(function () {
            $.ajax({
                url: "@Url.Content("~/Answers/AnswerList?QuestionId="+Model.Id)"
            }).done(function (data) {
                $('#answerlist').html(data);
            }).fail(function () {
                alert("error");
            });
        }
        );
    </script>





}
