@model AssistMeProject.Models.Question

@{
    ViewData["Title"] = "Details";
    ViewData["IsQuestionMin"] = true;

}



<!-- omitido breadcrumbs del template agregar luego...-->
<section class="container main-content">
    <div class="row">
        <p>

        </p>
        <p>

        </p>
        <div class="col-md-9">

            <Partial name="_QuestionPartial" model="Model" view-data="ViewData" />
            <p>
                <div class="page-content clearfix">
                    <h3>Attached files</h3>
                    @{
                        foreach (var f in ViewBag.FileNames)
                        {
                        <a href='~/uploads/@(Model.Id+"/"+f)' download="@f"><i class="icon-paper-clip"></i>@(" " + f)</a><br />
                        }
                    }

                </div>
            </p>
            <div class="page-content clearfix">
                <a asp-controller="Answers" asp-action="Create" asp-route-QuestionID="@Model.Id" asp-route-repeat="false"><i class="icon-comment"></i>Add Answer</a> |
                <a asp-Controller="Answers" asp-action="Create" asp-route-QuestionID="@Model.Id" asp-route-repeat="true"><i class="icon-copy"></i>Answer as Repeat</a> |
                <a asp-action="Index"><i class="icon-reply"></i>Back to List</a>
            </div>

            <div class="share-tags page-content">
                <div class="question-tags">
                    <i class="icon-tags"></i>
                    @{
                        foreach (QuestionLabel ql in Model.QuestionLabels)
                        {
                            string text = ql.Label.Tag;
                            if (Model.QuestionLabels.Last() != ql)
                            {
                                text += ", ";
                            }
                        <a href="#">@text</a>
                        }
                    }
                </div>
                <div class="share-inside"><i class="icon-share-alt"></i>Share</div>
                <div class="clearfix"></div>

            </div><!-- End share-tags -->

            <div class="about-author clearfix">
                <div class="author-image">
                    <a href="#" original-title="@Model.User.USERNAME" class="tooltip-n"><img alt="" src="http://placehold.it/60x60/FFF/444"></a>
                </div>
                <div class="author-bio">
                    <h4>About the Author - Username: "@Model.User.USERNAME"</h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra auctor neque. Nullam lobortis, sapien vitae lobortis tristique.
                </div>
            </div><!-- End about-author -->

            <div id="related-posts">
                <h2>Related questions</h2>
                <ul class="related-posts">
                    @{
                        if (ViewBag.Related.Count == 0)
                        {
                        <li class="related-item"><h3>There are no related questions</h3></li>
                        }
                        else
                        {
                            foreach (var q in ViewBag.Related)
                            {
                        <li class="related-item"><h3><a asp-action="Details" asp-route-id="@q.Id"><i class="icon-double-angle-right"></i>@q.Title</a></h3></li>
                            }
                        }


                    }

                </ul>
            </div><!-- End related-posts -->
            <div id="filteranswerlist" class="filter-container">

            </div>
            <div id="answerlist">

            </div>




            <p>

            </p>


            
        
        
        <div id="filteranswerlist" class="filter-container">
        </div>

            <div id="answerlist"></div>

            <div id="opciones-avanzadas">
                <h2>Opciones avanzadas</h2>



                <a id="but1" asp-action="Delete" asp-route-id="@Model.Id" style="display:none" class="load-questions">Eliminar pregunta  </a>

                <p></p>
                <p></p>
                <a id="but2" asp-action="Archive" asp-route-id="@Model.Id" style="display:none" type="button" class="load-questions">Archivar pregunta </a>
                <h1 id="lab" style="display:none"> Opciones no disponibles para este usuario </h1>
            </div><!-- End related-posts -->

            <div class="post-next-prev clearfix">
                <p class="prev-post">
                    <a href="#"><i class="icon-double-angle-left"></i>&nbsp;Prev question</a>
                </p>
                <p class="next-post">
                    <a href="#">Next question&nbsp;<i class="icon-double-angle-right"></i></a>
                </p>
            </div><!-- End post-next-prev -->


        </div><!-- End main -->


    </div><!-- End row -->

</section><!-- End container -->



@section scripts{

    <script>

    var level = @ViewData["Admin"];

        window.onload = ocultar();

    function ocultar() {
        if (level == 2) {
            console.log('Este usuario es un administrador');
            document.getElementById('but1').style.display = 'block';
            document.getElementById('but2').style.display = 'block';
        }else {
                        document.getElementById('lab').style.display = 'block';

        }
    }


        $(function () {
            $.ajax({
                url: "@Url.Content("~/Answers/AnswerList?QuestionId="+Model.Id)" + "&userId=" + getUserID()
            }).done(function (data) {
                $('#answerlist').html(data);
            }).fail(function () {
                alert("error");
            });
        }
        );
    </script>





}