@model IEnumerable<AssistMeProject.Models.Question>


@{
    string title = "Questions";
    //Example of how to get data of user
    if (ViewBag.User != null)
    {
        title = ViewBag.User.USERNAME;
        ViewData["userID"] = ViewBag.User.ID; 
    }
    else {
        ViewBag.userID = -1;
        ViewData["userID"] = -1;
    }
   
    
    //End of example
    ViewData["Title"] = title;
}

<div class="col-md-9">

    <section class="container main-content">
        <div class="row">
            <div class="col-md-9">

                <div class="tabs-warp question-tab">
                    <ul class="tabs">
                        <li class="tab"><a href="#" class="current">Recent Questions</a></li>
                    </ul>
                    <div id="filteranswerlist" class="filter-container">
                    </div>
                    <br />
                    <div class="tab-inner-warp">

                        <div id="answerlist" class="tab-inner">
                            @{
                                int counter = 0;
                                foreach (var item in Model)
                                {

                                    <article class="question question-type-normal">
                                        <h2>
                                            <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Title)</a>
                                        </h2>
                                        <a class="question-report" href="#">Report</a>
                                        <div class="question-type-main"><i class="icon-question-sign"></i>Question</div>

                                        <div class="question-author">
                                            <a href="/Users/Profile?viewingToUser=@Html.DisplayFor(modelItem => item.User.USERNAME)" original-title=@Html.DisplayFor(modelItem => item.User.USERNAME) class="question-author-img tooltip-n"><span></span><img alt="" src="http://placehold.it/60x60/FFF/444"></a>
                                        </div>
                                        <div class="question-inner">
                                            <div class="clearfix"></div>
                                            <p class="question-desc">@Html.DisplayFor(modelItem => item.Description)</p>
                                            <div class="question-details">
                                                @{
                                                    var n = DateTime.Now;
                                                    if (item.AskAgain)
                                                    {
                                                        <span class="question-answered"><i class="icon-star"></i>UP</span>

                                                    }
                                                    else if (n < item.Date.AddDays(1))
                                                    {
                                                        <span class="question-answered"><i class="icon-star"></i>NEW</span>
                                                    }


                                                    if (item.Answers.Any(a => a.correctAnswer))
                                                    {
                                                        <span class="question-answered question-answered-done"><i class="icon-ok"></i>Solved</span>
                                                    }
                                                    if (item.Insignia != null && item.Insignia.Equals("SEEN BEFORE"))
                                                    {
                                                        <span class="question-answered"><i class="icon-eye-open"></i>SEEN BEFORE </span>
                                                    }

                                                    if (item.Answers.Count > 0)
                                                    {
                                                        if (item.Answers.Count > 10)
                                                        {
                                                            <span class="question-answered question-answered-done"><i class="icon-star"></i>ROCKSTAR </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="question-answered question-answered-done"><i class="icon-ok"></i>Has received Answers</span>
                                                        }
                                                    }
                                                    else if (n >= item.Date.AddDays(1))
                                                    {
                                                        <span class="question-comment"> <a asp-action="UpdateDate" asp-route-id="@item.Id"> <i class="@Html.DisplayName(true ? "icon-spinner" : "icon-spinner")"></i> Ask Again</a></span>
                                                    }
                                                }


                                                <span id="question_vote_@item.Id" onclick="interaction('iv',getUserID(),@item.Id,'question_vote_@item.Id' )" class="question-favorite">
                                                    <i class="@Html.DisplayName((int)ViewData["userID"]>=0 && item.UserVote((int)ViewData["userID"])?"icon-star":"icon-star-empty")"></i>
                                                    <span>@Html.DisplayFor(model => item.InterestingVotes.Count)</span>
                                                </span>


                                            </div>

                                            <span class="question-category">
                                                <a href="#">
                                                    <i class="icon-folder-close"></i>
                                                    @{
                                                        foreach (QuestionStudio qs in item.QuestionStudios)
                                                        {
                                                            string text = qs.Studio.Name;
                                                            if (item.QuestionStudios.Last() != qs)
                                                            {
                                                                text += ", ";
                                                            }
                                                            <a href="#">@text</a>
                                                        }
                                                    }
                                                </a>
                                            </span>
                                            <span class="question-date"><i class="icon-time"></i>@Html.DisplayFor(modelItem => item.Date)</span>
                                            <span class="question-view"><i class="icon-user"></i>@item.Views.Count views</span>
                                            <span class="question-comment"><a asp-action="Details" asp-route-id="@item.Id"><i class="icon-comment"></i>@item.Answers.Count</a></span>
                                            <p>
                                                <div class="question-tags">
                                                    <i class="icon-tags"></i>
                                                    @{
                                                        foreach (QuestionLabel ql in item.QuestionLabels)
                                                        {
                                                            string text = ql.Label.Tag;
                                                            if (item.QuestionLabels.Last() != ql)
                                                            {
                                                                text += ", ";
                                                            }
                                                            <a href="#">@text</a>
                                                        }
                                                    }
                                                </div>
                                            </p>
                                            <div class="clearfix"></div>
                                        </div>
                                    </article>
                                    counter++;
                                }
                            }
                            <a href="#" class="load-questions"><i class="icon-refresh"></i>Load More Questions</a>
                        </div>
                    </div>

                </div>

            </div><!-- End page-content -->



        </div><!-- End row -->
    </section><!-- End container -->

</div><!-- End main -->
