@model IEnumerable<AssistMeProject.Models.Question>

@{
    ViewData["Title"] = "Questions";
}

<div class="col-md-9">

    <section class="container main-content">
        <div class="row">
            <div class="col-md-9">

                <div class="tabs-warp question-tab">
                    <ul class="tabs">
                        <li class="tab"><a href="#" class="current">Recent Questions</a></li>
                        <li class="tab"><a href="#">No answers</a></li>
                    </ul>
                    <div class="tab-inner-warp">
                        <div class="tab-inner">
                            @{ 
                                int counter = 0;
                                foreach (var item in Model)
                                {
                                <article class="question question-type-normal">
                                    <h2>
                                        <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Title)</a>
                                    </h2>
                                    <a class="question-report" href="#">Report</a>
                                    <div class="question-type-main"><i class="icon-question-sign"></i>Question</div>
                                    <div class="question-author">
                                        <a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" src="@item.User.PHOTO"></a>
                                    </div>
                                    <div class="question-inner">
                                        <div class="clearfix"></div>
                                        <p class="question-desc">@Html.DisplayFor(modelItem => item.Description)</p>
                                        <div class="question-details">
                                            <span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>
                                            <span class="question-favorite"><i class="icon-star"></i>5</span>
                                        </div>
                                        <span class="question-category"><a href="#"><i class="icon-folder-close"></i>wordpress</a></span>
                                        <span class="question-date"><i class="icon-time"></i>@Html.DisplayFor(modelItem => item.Date)</span>
                                        <span class="question-comment"><a asp-action="Details" asp-route-id="@item.Id"><i class="icon-comment"></i>5 Answer</a></span>
                                        <span class="question-view"><i class="icon-user"></i>70 views</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </article>
                                    counter++;
                                }
                              }
                            <a href="#" class="load-questions"><i class="icon-refresh"></i>Load More Questions</a>
                        </div>
                    </div>

                </div>

            </div><!-- End page-content -->
    

        </div><!-- End row -->
    </section><!-- End container -->

</div><!-- End main -->