<!DOCTYPE html>

@{ 
    if (ViewBag.User != null)
    {
        ViewBag.userID = ViewBag.User.ID;
        ViewData["userID"] = ViewBag.User.ID;
    }
    else {
        ViewBag.userID = -1;
        ViewData["userID"] = -1;
    }
    //End of example
    ViewBag.user = string.IsNullOrEmpty(ViewBag.ACTIVE_USER) ? "Cuenta":ViewBag.ACTIVE_USER;

    <style type="text/css">
        li {
            cursor: pointer;
        }
    </style>

}
<html>
<head>

    <meta charset="utf-8" />
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewData["Title"] - AssistMeProject</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
               asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
               asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


    <!--modificados todos los links para que sean relativos ~/ruta-->
    <!-- Main Style -->
    <link rel="stylesheet" href="~/style.css">

    <!-- Skins -->
    <link rel="stylesheet" href="~/css/skins/skins.css">

    <!-- Responsive Style -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/filter-menu.css">
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/images/favicon.png">
</head>
<body>
    <div class="loader"><div class="loader_html"></div></div>
    <div id="wrap" class="grid_1200">

        <!--New Login panel from everything-->
        @{
            if ("Cuenta".Equals(ViewBag.user))
            {
                <div class="login-panel">
                    <section class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="page-content">
                                    <h2>Iniciar Sesión</h2>
                                    <div class="form-style form-style-3">
                                        <form method="post" asp-controller="Users" asp-action="Profile">
                                            <div class="form-inputs clearfix">
                                                <p class="login-text">
                                                    <input type="text" name="username" value="" autocomplete="off" placeholder="Nombre de usuario">
                                                    <i class="icon-user"></i>
                                                </p>
                                                <p class="login-password">
                                                    <input type="password" name="password" value="" autocomplete="off" placeholder="Contraseña">
                                                    <i class="icon-lock"></i>
                                                    <a href="#">La olvidé</a>
                                                </p>
                                                <p class="hidden">
                                                    <input type="text" name="method" value="N" /> <!--value=> how does the person enter, nor google or normal. N=normal G = google -->
                                                </p>
                                            </div>
                                            <p class="form-submit login-submit">
                                                <input type="submit" value="IR!" class="button orange-button small login-submit submit">
                                            </p>
                                        </form>
                                    </div>
                                </div><!-- End page-content -->
                            </div><!-- End col-md-6 -->
                            <div class="col-md-6">
                                <div class="page-content Register">
                                    <h2>Crear Cuenta</h2>
                                    <p>Bienvenido a nuestra apliación web, de click en el botón de abajo para crear su cuenta: </p>
                                    <a class="button small orange-button signup">Registrarse</a>
                                </div><!-- End page-content -->
                            </div><!-- End col-md-6 -->
                        </div>
                    </section>
                </div><!-- End login-panel -->
            }
            else
            {
                <div class="login-panel">
                    <section class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="page-content">
                                    <a href="/Users/Profile" class="button small red-button">Perfil de usuario</a>
                                    <a href="/Users/Edit" class="button small red-button">Editar Perfil</a>
                                    <a href="/Users/Logout" class="button small red-button">Cerrar Sesión</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div><!-- End login-panel -->
            }
        }

        <div id="header-top">
            <section class="container clearfix">
                <nav class="header-top-nav">
                    <ul>
                        <li id="login-panel"><i class="icon-user"></i>@ViewBag.user</li>
                    </ul>
                </nav>
                <div class="header-search">
                    <form action='@Url.Action("Search", "Questions")' method="post">

                        <input type="text" value="Search here ..." onfocus="if(this.value=='Search here ...')this.value='';" onblur="if(this.value=='')this.value='Search here ...';" name="query">
                        <button type="submit" class="search-submit"></button>
                    </form>
                </div>
            </section><!-- End container -->
        </div><!-- End header-top -->
        <!--End New Login panel for everything-->

        <header id="header">
            <section class="container clearfix">
                <div class="logo"><a asp-controller="Home" asp-action="Index"><img alt="" src="~/images/logo.png"></a></div> <!--agregado icono de la app y link a home page desde el mismo-->
                <nav class="navigation">
                    <ul>
                        <li class="current_page_item">
                            <a asp-controller="Home" asp-action="Index">Home</a> <!--Agregado link a home -->
                        </li>
                        <li class="ask_question"><a asp-controller="Questions" asp-action="Create">Ask Question</a></li> <!--Agregado link a crear question-->
                        <li class="asearch_question"><a asp-controller="Questions" asp-action="AdvancedSearch">Advanced Search</a></li>
                        <li>
                            <a href=""<!-- asp-controller="Questions" asp-action="Index" -->Questions</a><!--Agregado link a lista de Questions-->
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">Questions Category</a></li><!--Faltan funciones-->
                                <li><a href="single_question.html">Question Single</a></li>
                                <li><a href="single_question_poll.html">Poll Question Single</a></li>
                            </ul>
                        </li>
                        
                        <li id="notificacion">
                            @{
                                ViewBag.bell = "icon-bell";
                                if (ViewBag.AllReaded != null && ViewBag.AllReaded)
                                {
                                    ViewBag.bell = "icon-bell-alt";
                                }

                            }
                            <a href=""><i class="@ViewBag.bell"></i></a>
                            <ul>
                                <u>Notificaciones</u>
                                <li></li>
                                <li>
                                    <p style="background-color:coral;">&nbsp;Leídas</p>
                                </li>
                                @{
                                    var lista = ViewBag.Notifications;

                                    if (lista != null)
                                    {
                                        int con = 1;
                                        foreach (var item in lista)
                                        {
                                            if (item.Read)
                                            {
                                                <li>
                                                    <a href="/Users/AllNotifications">
                                                        R. tu pregunta @con
                                                    </a>

                                                </li>
                                                con++;
                                            }

                                        }
                                    }
                                }
                                <li>
                                    <p style="background-color: coral;">&nbsp;No leídas</p>
                                </li>
                                @{
                                    var lista2 = ViewBag.Notifications;

                                    if (lista2 != null)
                                    {
                                        int con = 1;
                                        foreach (var item in lista2)
                                        {
                                            if (@item.Read == false)
                                            {
                                                <li>
                                                    <a href="/Users/AllNotifications">
                                                        R. tu pregunta @con
                                                    </a>

                                                </li>
                                                con++;
                                            }

                                        }
                                    }
                                }
                                <li>
                                    <a href="/Users/AllNotifications">
                                        Ver todas las notificaciones
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="admin">
                            <a href="">Administrador</a>
                            <ul>
                                <li><a href="/Administrator/Index">Página Administrador</a></li>
                                <li><a href="/Administrator/AddAdmin">Asignar Rol Administrador</a></li>
                                <li><a href="/Administrator/CreateStudio">Crear Nuevo Studio</a></li>
                                <li><a href="/Administrator/ArchivedQuestions">Preguntas Archivadas</a></li>

                            </ul>
                        </li>



                        <li><a asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                    </ul>
                </nav>
            </section><!-- End container -->
        </header><!-- End header -->


        <div class="container main-content">
            <!--Contenido principal de la pagina--><!--Respetar el nivel de las paginas para que no se superpongan-->
            <div class="row">
                <div class="col-md-9">
                    @RenderBody()
                    <hr />
                </div>
                <aside class="col-md-3 sidebar">
                    @await Component.InvokeAsync("Stats")
                    @await Component.InvokeAsync("TagWidget")
                    @await Component.InvokeAsync("TopAskers")
                    @await Component.InvokeAsync("TopReplyers")
                </aside><!--End Sidebar-->
            </div>
        </div><!--Fin contenido principal -->

    </div> <!--End wrap-->

    <partial name="_CookieConsentPartial" />



    <footer id="footer-bottom">
        <section class="container">
            <div class="copyrights f_left">AssistMe 2019 &copy; <a href="#"></a></div>
            <!--<div class="social_icons f_right">
                <ul>
                    <li class="twitter"><a original-title="Twitter" class="tooltip-n" href="#"><i class="social_icon-twitter font17"></i></a></li>
                    <li class="facebook"><a original-title="Facebook" class="tooltip-n" href="#"><i class="social_icon-facebook font17"></i></a></li>
                    <li class="gplus"><a original-title="Google plus" class="tooltip-n" href="#"><i class="social_icon-gplus font17"></i></a></li>
                    <li class="youtube"><a original-title="Youtube" class="tooltip-n" href="#"><i class="social_icon-youtube font17"></i></a></li>
                    <li class="skype"><a original-title="Skype" class="tooltip-n" href="skype:#?call"><i class="social_icon-skype font17"></i></a></li>
                    <li class="flickr"><a original-title="Flickr" class="tooltip-n" href="#"><i class="social_icon-flickr font17"></i></a></li>
                    <li class="rss"><a original-title="Rss" class="tooltip-n" href="#"><i class="social_icon-rss font17"></i></a></li>
                </ul>
            </div>-->
            <!-- End social_icons -->
        </section><!-- End container -->
    </footer><!-- End footer-bottom -->

    <div class="go-up"><i class="icon-chevron-up"></i></div>



    <script>

    function getUserID() {
        return @ViewBag.userID;
    }
    </script>
    <!-- js -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/js/jquery.easing.1.3.min.js"></script>
    <script src="~/js/html5.js"></script>
    <script src="~/js/twitter/jquery.tweet.js"></script>
    <script src="~/js/jflickrfeed.min.js"></script>
    <script src="~/js/jquery.inview.min.js"></script>
    <script src="~/js/jquery.tipsy.js"></script>
    <script src="~/js/tabs.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="~/js/jquery.scrollTo.js"></script>
    <script src="~/js/jquery.nav.js"></script>
    <script src="~/js/tags.js"></script>
    <script src="~/js/jquery.bxslider.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/questions.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- End js -->
    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    <div class="panel-pop" id="signup">
        <h2>Registrarse<i class="icon-remove"></i></h2>
        <div class="form-style form-style-3">
            <form asp-controller="Users" asp-action="Create">
                <div class="form-group">
                    <input name="LEVEL" class="form-control" value="2" min="1" max="3" type="hidden" />
                </div>
                <div class="form-group">
                    <label name="USERNAME" class="control-label">Nombre de usuario: </label>
                    <input name="USERNAME" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label name="PASSWORD" class="control-label">Contraseña: </label>
                    <input name="PASSWORD" class="form-control" type="password" />
                </div>
                <div class="form-group">
                    <label name="EMAIL" class="control-label">Correo: </label>
                    <input name="EMAIL" class="form-control" type="email" />
                </div>
                <div class="form-group">
                    <input name="PHOTO" class="form-control" type="hidden" value="http://placehold.it/60x60/FFF/444" />
                </div>
                <div class="form-group">
                    <input name="QUESTIONS_ANSWERED" class="form-control" type="hidden" value="0" />
                </div>
                <div class="form-group">
                    <input name="POSITIVE_VOTES_RECEIVED" class="form-control" type="hidden" value="0" />
                </div>
                <div class="form-group">
                    <input name="QUESTIONS_ASKED" class="form-control" type="hidden" value="0" />
                </div>
                <div class="form-group">
                    <input name="INTERESTING_VOTES_RECEIVED" class="form-control" type="hidden" value="0" />
                </div>
                <div class="form-group">
                    <input name="DESCRIPTION" class="form-control" type="hidden" value="" />
                </div>
                <div class="form-group">
                    <input namer="INTERESTS_OR_KNOWLEDGE" class="form-control" type="hidden" value="" />
                </div>
                <div class="form-group">
                    <input name="COUNTRY" class="form-control" type="hidden" value="" />
                </div>
                <div class="form-group">
                    <input name="CITY" class="form-control" type="hidden" value="" />
                </div>
                <div class="form-group">
                    <label name="StudioId" class="control-label">Studio: </label>
                    <span class="styled-select" id="StudioId">
                        <select name="StudioName" class="form-control" asp-items="ViewBag.Studios"></select>
                    </span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Crear!" class="btn btn-default orange-button" />
                </div>
            </form>
        </div>
    </div><!-- End signup -->

    <script>
        /* Signup */
        window.addEventListener("load", function (event) {
            jQuery(".signup,.login-links-r a").click(function () {
                jQuery(".panel-pop").animate({ "top": "-100%" }, 10).hide();
                jQuery("#signup").show().animate({ "top": "50%" }, 500);
                jQuery("body").prepend("<div class='wrap-pop'></div>");
                wrap_pop();
                return false;
            });

            /* Lost password */

            jQuery(".login-password a").click(function () {
                jQuery(".panel-pop").animate({ "top": "-100%" }, 10).hide();
                jQuery("#lost-password").show().animate({ "top": "50%" }, 500);
                jQuery("body").prepend("<div class='wrap-pop'></div>");
                wrap_pop();
                return false;
            });

            /* Panel pop */

            jQuery(".panel-pop").each(function () {
                var panel_pop = jQuery(this);
                var panel_height = panel_pop.height();
                panel_pop.css("margin-top", "-" + panel_height / 2 + "px");
            });

            jQuery(".panel-pop h2 i").click(function () {
                jQuery(this).parent().parent().animate({ "top": "-100%" }, 500);
                jQuery(".wrap-pop").remove();
            });

            function wrap_pop() {
                jQuery(".wrap-pop").click(function () {
                    jQuery(".panel-pop").animate({ "top": "-100%" }, 500).hide(function () {
                        jQuery(this).animate({ "top": "-100%" }, 500);
                    });
                    jQuery(this).remove();
                });
            }
        });
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
