@model IEnumerable<AssistMeProject.Models.Question>

@{
    ViewData["Title"] = "Pagina administrador";
}

<div class="col-md-9">

    <section class="container main-content">
        <div class="row">
            <div class="col-md-9">

                <div id="progess" class="row">
                    <div class="col-md-12"><div class="boxedtitle page-title"><h2>Cantidad Preguntas & Respuestas</h2></div></div>
                    <div class="col-md-6">

                        <div class="progressbar-warp">

                            <span class="progressbar-title">Preguntas  ( <span>@ViewData["Questions"]</span> )</span>
                            <div class="progressbar">
                                <div class="progressbar-percent" style="background-color: #81519c;" attr-percent="95"></div>
                            </div>

                            <span class="progressbar-title">Respuestas</span>
                            <div class="progressbar">
                                <div class="progressbar-percent" style="background-color: #37b8eb;" attr-percent="95"></div>
                            </div>

                        </div><!-- End progressbar-warp -->
                    </div>

                </div><!-- End #progess -->


                <div id="progess" class="row">
                    <div class="col-md-12"><div class="boxedtitle page-title"><h2>Tablas preguntas</h2></div></div>
                    <div class="col-md-6">
                        <div class="clearfix"></div>
                        <div class="page-content">
                            <div class="user-stats">
                                <div class="user-stats-head">
                                    <div class="block-stats-1 stats-head"> @Html.DisplayNameFor(model => model.Title)</div>
                                    <div class="block-stats-2 stats-head"> @Html.DisplayNameFor(model => model.Description)</div>
                                    <div class="block-stats-3 stats-head"> @Html.DisplayNameFor(model => model.Date)</div>
                                    <div class="block-stats-4 stats-head"> @Html.DisplayNameFor(model => model.AskAgain)</div>
                                </div>

                                @foreach (var item in Model)
                                {
                                    <div class="user-stats-item">
                                        <div class="block-stats-1"> @Html.DisplayFor(modelItem => item.Title)</div>
                                        <div class="block-stats-2">@Html.DisplayFor(modelItem => item.Description)</div>
                                        <div class="block-stats-3">@Html.DisplayFor(modelItem => item.Date)</div>
                                        <div class="block-stats-4">@Html.DisplayFor(modelItem => item.AskAgain)</div>
                                    </div>

                                }
                            </div><!-- End user-stats -->
                        </div><!-- End page-content -->
                    </div>

                </div><!-- End #progess -->


            </div><!-- End page-content -->



        </div><!-- End row -->
    </section><!-- End container -->

</div><!-- End main -->
