@model IEnumerable<AssistMeProject.Models.Question>


@{
    string title = "Questions";
    //Example of how to get data of user
    if (ViewBag.User != null)
    {
        title = ViewBag.User.USERNAME;
    }
    //End of example
    ViewData["Title"] = title;
}



<section class="container main-content" id="main">
    <div class="row">
        <!--Espacios-->
        <div>
            <p> </p> <p> </p> <p> </p> <p> </p> <p> </p> <p> </p>
        </div>


        <div class="col-md-9">
            <div id="commentlist" class="page-content">
                <div class="boxedtitle page-title"><h2>Tabla Preguntas por Usuarios</h2></div>
                <div class="page-content ask-question">

                    <h3 align="center">Preguntas relacionadas con el Studio: @ViewData["Studio"]</h3>
                    <h4 align="center" onclick="exportTableToExcel('tblData', 'Preguntas del Studio  @ViewData["Studio"]')"><span align="center" class="icons-archive-download"></span> Exportar datos a archivo en Excel </h4>

                    <div class="form-style form-style-3" id="question-submit">


                    </div>
                </div><!-- End page-content -->

                <p></p><p></p><p></p>
                <table class="table table-striped table-sm" id="tblData" runat="server">
                    <thead class="thead-dark">
                        <tr>

                            <th align="left">
                                <h4> @Html.DisplayNameFor(model => model.Title)</h4>
                            </th>
                            <th align="left">
                                <h4> @Html.DisplayNameFor(model => model.Description)</h4>
                            </th>
                            <th align="left">
                                <h4>@Html.DisplayNameFor(model => model.Date)</h4>
                            </th>
                            <th>
                                <h4>Studios</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="Questions" asp-action="Details" asp-route-id="@item.Id">    @Html.DisplayFor(modelItem => item.Title)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @{
                                        foreach (QuestionStudio qs in item.QuestionStudios)
                                        {
                                            string text = qs.Studio.Name;
                                            if (item.QuestionStudios.Last() != qs)
                                            {
                                                text += ", ";
                                            }
                                            @text
                                        }
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                <div class="col-md-6">

                </div>




                </div><!-- End main -->
            </div>

    </div>
</section>


<script>

  function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}
</script>
