@model AssistMeProject.Models.Studio

@{
    ViewData["Title"] = "Details";
    ViewData["IsQuestionMin"] = true;

}




<p></p>
<p></p>
<section class="container main-content">
    <div class="row">
        <div class="col-md-9">



            <article class="post blog_2 clearfix">
                <div class="post-inner">
                    <h2 class="post-title"><i class="icons-work"></i><a>@Model.Name</a></h2>
                    @{
                        foreach (var f in ViewBag.FileNames)
                        {
                            <div class="post-img"><a><img src='~/uploads/@(Model.Name+"/"+f)' alt=""></a></div>
                        }
                    }                    <div class="post-meta">
                        <span class="meta-categories"><i class="icons-bookmark"></i><a href="#">@Model.Unit</a></span>

                        <span class="meta-author"><i class="icons-mail"></i><a href="#">@Model.Email</a></span>
                    </div>
                    <div class="post-content">
                        <p>@Model.Description</p>

                    </div><!-- End post-content -->

                </div><!-- End post-inner -->
                <p>



                <h6> <a asp-action="DeleteStudio" asp-route-id="@Model.Id">Eliminar Studio</a></h6>


            </article><!-- End article.post -->




        </div><!-- End main -->
    </div><!-- End row -->
</section><!-- End container -->






@section scripts{

    <script>

    var level = @ViewData["Admin"];

        window.onload = ocultar();

    function ocultar() {
        if (level == 2) {
            console.log('Este usuario es un administrador');
            document.getElementById('but1').style.display = 'block';
            document.getElementById('but2').style.display = 'block';
        }else {
                        document.getElementById('lab').style.display = 'block';

        }
    }


        $(function () {
            $.ajax({
                url: "@Url.Content("~/Answers/AnswerList?QuestionId="+Model.Id)"
            }).done(function (data) {
                $('#answerlist').html(data);
            }).fail(function () {
                alert("error");
            });
        }
        );
    </script>





}
